# Core functionality - changes here should be rare!
/src/app.py                   @karthikprasath21
/src/backend/database.py      @karthikprasath21
/src/backend/routers/auth.py  @karthikprasath21

# The frontend will need refactored soon to be more object oriented.
/src/static/   @karthikprasath21
